@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
:root{
    --font-one: 'Montserrat', sans-serif;
    --color-one: #4e5150;
    --color-orange: #f2994a;
    --gray-one: #333333;
    --gray-two: #4f4f4f;
    --gray-three: #828282;
    --gray-four: #BDBDBD;
    --gray-six: #f2f2f2;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    height: 100%;
    margin: 2% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h2{
    text-align: left;
    margin-top: 5%;
  
    margin-bottom: 2%;
    font-family: var(--font-one);
    font-size: 1.5em;
    font-weight: 600;
    
}
.container__products{
 width: 300px;
  height:40%;
  display: flex;
  flex-direction: column;
  background-color:var(--gray-six) ;
  
  align-items: center;
  border-radius: 12px;
}
.image-container{
    width: 90px ;
    height: 94px;
}
img{
    width: 100%;
    border-radius: 13px;
}
.products{
    width: 250px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    
}
.produts-details {
    margin-left: 10%;
}

.product-name  {
    font-family: var(--font-one);
    font-size: 0.75em;
    font-weight: 600;
    color: var(--color-one);
    
}
.price{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.orange{
   font-family: var(--font-one);
   font-size: 0.75em;
   color: var(--color-orange);
    font-weight: 600;
    text-align: center;
}
.gray{
    font-family: var(--font-one);
    font-size: 0.65em;
    font-weight: 600;
    color: var(--color-one);
    text-decoration: line-through;
}

.container__total{
    margin-top: 10%;
    width: 90%;
   
   
}
.number-item{
    margin-top: 8px;
    border: 1px solid var(--gray-three);
    width: 122px;
    height: 49px;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
}
.button{
    width: 19px;
    height: 19px;
    border-radius: 4px;
    background-color: #E0E0E0;
    border: none;
}
.button p:hover{
    color: black;
}
.button p {
    color: var(--gray-three);
    font-size: 1.2em;
    text-align: center;
}
.num{
    font-family: var(--font-one);
    font-size: 1em;
    font-weight: 600;
}
.total{
    width: 100%;
    display: flex;
    justify-content: space-between  ;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid var(--gray-four)  ;
    
}
.contact{
    font-family: var(--font-one);
    font-size: 0.75em;
    font-weight: 600;
}
.total p {
    margin-top: 5px;
    font-family: var(--font-one);
    font-size: 0.75em;
    font-weight: 600;
}
.container__contact{
    margin-top: 15px;
    width: 300px;
    height: 50%;
   
}
.mb{
    display: flex;
    
    margin-bottom: 10px;
    width: 300px;
    border: 1px solid var(--gray-three);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    
}
.mb:hover{
    box-shadow: 0 1px 6px 0 #20212447;
}
.text-label{
font-family: var(--font-one);
font-size: 0.62em;
font-weight: 600;
color: var(--gray-two);

}

.input-one{
    width: 300px;
    height: 30px;
    border-radius: 12px;
    outline: none;
    border: none;

    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.shipping{
    font-family: var(--font-one);
    font-size: 0.75em;
    font-weight: 600;
    margin-top: 10px;
}
.icons{
padding: 5px;
font-size: 18px !important;
color: var(--gray-three);
}
.checkbox{
    margin-top: 20px;
    display: flex;
    align-items: center;
   
    
}
.checkbox label {
    font-family: var(--font-one);
    font-size: 0.6rem;
    text-align: center;
    margin-left: 10px;
}
.continue{
  border-radius: 12px;
    border: none;
    left: 0;
    width: 166px;
    height: 54px;
    background-color: var(--color-orange);
    color: white;
    font-family: var(--font-one);
    font-size: 1em;
}


.button-one{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    margin-left: 2%;
    margin-right: 2%;
    width: 300px;
    align-self: center;
}
.two{
    display: flex;
    width: 300px;
}
.div-one{
    width: 150px;
    
}
.medium{
    display: flex;
    
    align-items: center;
    width: 145px;
  
    border: 1px solid var(--gray-three);
    border-radius: 12px;
    height: 30px;
}
.input-two{
    width: 115px;
    border: none;
   
    outline: none;

   
}
.icontwo{
    padding: 2px;
}
.title{
    display: flex;
    align-items: center;
  
    margin: 15px 0 0 12px;
    text-align: right;
    width: 300px;
    

}


@media screen and (min-width:930px) {
    main{
        flex-direction: row-reverse;
        align-items: unset;
    }
    .container__contact{
        width: 40%;
        margin-top: 0;
    }
    
    
    .div-pro{
        width: 50%;

    }
    h2{
        margin-top: 0;
    }
    .title{
        margin: 15px 0 0 11%;
    }
}